
.image {
    max-width: 80%;
    height:auto;    
    
}


h5 {
    display: none;
    position:absolute;
    z-index: 999999;
    
}

#first {
    border: 2px double black; 
   display: inline-block;
    margin-left: 100px;
    margin-top: 100px;
    
    width: 40%; 
    height: 100%;    
    
    
}
#second {
     display: inline-block;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
   
    
}
nav img {
	animation-name: logo_animation;
	animation-duration: 4s;
}

h2 {
font-size: 25px;
}

h6 {
    font-size: 20px;
    margin-left: 20px;
}
 



h4{
  
    font-size: 90px;
    margin-top: 60px;
    
}
    
.news{
    margin-top:80px;
    margin-left: 0px;
    border: 4px double black; 
    padding: 10px; 
    display: inline-block;
    Width: 20%;
    height: 20%;
    
   
}
TABLE {
    width: 600px; 
    border-collapse: collapse;
   }
   TD, TH {
    padding: 3px; 
    border: 1px solid black; 
   }
   TH {
    background: #b0e0e6; 
}
.image_news{
      width: 100%;
     height: 100%;
}
h2 {
font-family: monospace;
color: #606060;
}
Bio {
margin-right: 10px;
color:#000000;
margin-left: 10px;
}
p{
margin-left: 25px;
margin-right: 25px
}
h1 {
  font-family: monospace;
  color: #606060;
}
